USE [master]
GO
/****** Object:  Database [Test]    Script Date: 10/11/2023 2:48:11 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[STI]    Script Date: 10/11/2023 2:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTur] [smallint] NOT NULL,
	[EvrakNo] [varchar](16) NOT NULL,
	[Tarih] [int] NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[Miktar] [numeric](25, 6) NOT NULL,
	[Fiyat] [numeric](25, 6) NOT NULL,
	[Tutar] [numeric](25, 6) NOT NULL,
	[Birim] [varchar](4) NOT NULL,
 CONSTRAINT [pkSTI] PRIMARY KEY CLUSTERED 
(
	[EvrakNo] ASC,
	[Tarih] ASC,
	[IslemTur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STK]    Script Date: 10/11/2023 2:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[MalAdi] [varchar](50) NOT NULL,
 CONSTRAINT [pkSTK] PRIMARY KEY CLUSTERED 
(
	[MalKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STI] ON 

INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (608, 0, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (609, 1, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (170, 0, N'  000029', 42782, N'10081 SİEMENS', CAST(1.000000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), N'ADET')
GO
SET IDENTITY_INSERT [dbo].[STI] OFF
GO
SET IDENTITY_INSERT [dbo].[STK] ON 

INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (6, N'10081 SİEMENS', N'NB MONOFAZE OTOMATLAR')
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (7, N'10082 SİEMENS', N'5SQ2160-2YA10 B 10A  OTOMATİK SİGORTA')
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (8, N'10083 SİEMENS', N'5SQ2160-2YA16 B 16A  OTOMATİK SİGORTA')
SET IDENTITY_INSERT [dbo].[STK] OFF
GO
/****** Object:  StoredProcedure [dbo].[GetPagedStockMovements]    Script Date: 10/11/2023 2:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPagedStockMovements]
(
    @MalKodu NVARCHAR(50),
    @BaslangicTarihi INT,
    @BitisTarihi INT,
    @PageNumber INT, -- Aktif sayfa numarası
    @PageSize INT, -- Sayfa başına düşen veri miktarı
	@TotalPages INT OUTPUT -- Toplam sayfa sayısını döndürecek çıkış parametresi
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT; -- Sayfa numarasına göre atlanacak veri sayısı.
    SET @Offset = (@PageNumber - 1) * @PageSize; -- Offset hesaplama

    -- Toplam veri sayısını hesapla
    DECLARE @TotalItemCount INT;
    SELECT @TotalItemCount = COUNT(*)
    FROM dbo.STI
    WHERE STI.MalKodu = @MalKodu AND STI.Tarih BETWEEN @BaslangicTarihi AND @BitisTarihi;

    -- Toplam sayfa sayısını hesapla
    SET @TotalPages = CEILING(CONVERT(FLOAT, @TotalItemCount) / @PageSize);

    -- Verilerin sayfalanarak alımı
    SELECT
        ROW_NUMBER() OVER (ORDER BY STI.Tarih ASC) AS SiraNo, --Her bir satır için otomatik sayısal değer atanır. EF için sp tanımlamada KEY görevi görür.
        CASE -- İşlem türüne göre ilgili sütun için değer belirtir.
            WHEN STI.IslemTur = 0 THEN 'Giriş'
            WHEN STI.IslemTur = 1 THEN 'Çıkış'
            ELSE ''
        END AS IslemTur,
        STI.EvrakNo,
        CONVERT(VARCHAR(15), CAST(STI.Tarih - 2 AS DATETIME), 104) AS Tarih, -- Int tarih değeri, tarih formatına çevrilerek gösterilir.
        CASE WHEN STI.IslemTur = 0 THEN STI.Miktar ELSE 0 END AS GirisMiktar, -- İşlem türüne göre ilgili sütuna değerler tanımlar.
        CASE WHEN STI.IslemTur = 1 THEN STI.Miktar ELSE 0 END AS CikisMiktar, -- İşlem türüne göre ilgili sütuna değerler tanımlar.
        CAST(0 AS DECIMAL(18, 2)) AS Stok -- Stok hesabı uygulamada yapılacağı için ve decimal olarak 0 gönderilmezse modeldeki prop'a uymadığı için hata çıkartır. Bu sebeple CAST işlemi yapıldı. Fakat sayfalamalı alımlarda stok miktarı doğru hesaplanamayacağı için farklı bir çözüm gerekli.
    FROM dbo.STI
    WHERE STI.MalKodu = @MalKodu AND STI.Tarih BETWEEN @BaslangicTarihi AND @BitisTarihi --Verilen koşullara uygun veriler üzerinden işlem yapmak için kullanılır.
    ORDER BY STI.Tarih ASC -- Alınan verilerin sıralaması eskiden yeniye tarih baz alınarak yapılmasını sağlar.
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY; -- Sayfalama için atlanacak veri sayısı ve atlandıktan sonra alınacak veri sayısını belirtir.
END;
GO
/****** Object:  StoredProcedure [dbo].[GetStockMovements]    Script Date: 10/11/2023 2:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStockMovements]
(
    @MalKodu NVARCHAR(50),
    @BaslangicTarihi INT,
    @BitisTarihi INT
)
AS
BEGIN
    SET NOCOUNT ON; --Etkilenen satır sayısı bilgisi gerekmediği için bu şekilde kullanıldı.
    SELECT
        ROW_NUMBER() OVER (ORDER BY STI.Tarih ASC) AS SiraNo, --Her bir satır için otomatik sayısal değer atanır. EF için sp tanımlamada KEY görevi görür.
        CASE -- İşlem türüne göre ilgili sütun için değer belirtir.
            WHEN STI.IslemTur = 0 THEN 'Giriş' 
            WHEN STI.IslemTur = 1 THEN 'Çıkış'
            ELSE ''
        END AS IslemTur,
        STI.EvrakNo,
        CONVERT(VARCHAR(15), CAST(STI.Tarih - 2 AS DATETIME), 104) AS Tarih, -- Int tarih değeri, tarih formatına çevrilerek gösterilir.
        CASE WHEN STI.IslemTur = 0 THEN STI.Miktar ELSE 0 END AS GirisMiktar, -- İşlem türüne göre ilgili sütuna değerler tanımlar.
        CASE WHEN STI.IslemTur = 1 THEN STI.Miktar ELSE 0 END AS CikisMiktar, -- İşlem türüne göre ilgili sütuna değerler tanımlar.
		CAST(0 AS DECIMAL(18, 2)) AS Stok --Stok hesabı uygulamada yapılıyor ve decimal olarak 0 gönderilmezse modeldeki prop'a uymadığı için hata çıkartıyor. Bu sebeple CAST işlemi yapıldı.
    FROM dbo.STI
    WHERE STI.MalKodu = @Malkodu AND STI.Tarih BETWEEN @BaslangicTarihi AND @BitisTarihi --Verilen koşullara uygun veriler üzerinden işlem yapmak için kullanılır.
    ORDER BY STI.Tarih ASC; -- Alınan verilerin sıralaması eskiden yeniye tarih baz alınarak yapılmasını sağlar.
END;
GO
USE [master]
GO
